@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Klee+One&family=Kode+Mono:wght@400..700&display=swap');

:root {
    --font-main: "Kode Mono", monospace;
}

* {
    margin: 0;
}

body {
    background: #151736;
    transition: all 1s;
    user-select: none;
}

.quadrado {
    display: none;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

/* PRIMEIRO QUADRADO */

.primeiroQuadrado {
    display: flex;
    z-index: 98;
}

#primeiroQuadrado {
    margin: 5rem 0 0 3rem;
    width: 100px;
    height: 366px;
    background: #3b61bb;
    border-radius: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    position: absolute;
    transition: all 1s;
}

.img-50px {
    width: 50px;
    height: 50px;
    margin: 0;
    cursor: pointer;
    transition: all 1s ease;
}

/* SEGUNDO QUADRADO */

.segundoQuadrado {
    display: flex;
    flex-direction: column;
    width: 60rem;
    align-items: center;
    margin: 4rem 0 0 13rem;
}

.quadradoTextoPrimario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 27rem;
    height: 14rem;
    margin: 0;
    text-align: center;
}

#primario, .primario {
    font-family: var(--font-main);
    color: #fff;
    text-shadow: 1px 2px #000;
    font-size: 30pt;
    z-index: 10;
}

.quadradoTextoPrimario#primario {
    margin-left: 10rem;
}

#secundario {
    font-family: var(--font-main);
    color: #fff;
    text-shadow: 1px 2px #000;
    font-size: 15pt;
    position: relative;
}

#segundoQuadrado {
    width: 600px;
    height: 306px;
    margin-top: 1rem;
    background: #3b61bb;
    border-radius: 10px 10px 50% 10px / 10px 10px 50% 10px;
    box-shadow: 10px 8px 15px -5px rgba(0, 20, 79, 0.41);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 1s;
}

.imagensSegundoQuadrado {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 27rem;
}

.miniGithub, .miniLinkedin  {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 10px;
    margin: 1rem 0 0 4rem;
    cursor: pointer;
    transition: all 1s;
}

.miniGithub>img, .miniLinkedin>img  {
    width: 30px;
    height: 30px;
    margin: auto;
}

/* Terceiro Quadrado*/

.projetos {
    display: flex;
    flex-direction: column;
    width: 47rem;
    height: 20rem;
    position: relative;
    margin: 3rem 0 0 11rem;
}

.projetos h1 { 
    text-shadow: 1px 2px #000;
}

.projetosDois {
    display: flex;
    flex-direction: row;
}

#terceiroMiniQuadrado, #quartoMiniQuadrado {
    width: 200px;
    height: 200px;
    margin: 1rem 0 0 1rem;
    background: #3b61bb;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 1s;
    cursor: pointer;
}

#quintoMiniQuadrado {
    display: none;
}

#imagemCurriculo {
    margin: auto;
    width: 190px;
    height: 190px;
    border-radius: 20px;
}

/* Terceiro Content*/

.terceiroQuadrado {
    display: flex;
    flex-direction: column;
    width: 60rem;
    align-items: center;
    margin: 4rem 0 20rem;
}

#terceiroQuadrado {
    width: 100px;
    height: 316px;
    margin: auto;
    background: #3b61bb;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.imagemTercerioQuadrado {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#imgReact {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    animation: vaievolta 1s infinite alternate;
}

#imgPhp {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    animation: vaievolta2 ease-in-out 1s infinite alternate;

}

#imgSql {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    animation: vaievolta3 1s infinite alternate;

}

@keyframes vaievolta1 {
    0% {
        margin-top: 0;
    }
    100% {
       margin-top: 1.5rem;
    }
}

@keyframes vaievolta2 {
    0% {
        margin-top: 0;
    }
    100% {
       margin-top: 1rem;
    }
}

@keyframes vaievolta3 {
    0% {
        margin-top: 0;
    }
    100% {
       margin-top: 1rem;
    }
}

.nextSkillsText {
    width: 21rem;
    font-family: var(--font-main);
    text-shadow: 1px 2px #000;
    color: #fff;
    font-size: 20pt;
    margin-top: 10rem;
    text-align: center;
}

/* Minhas habilidades */

.quartoQuadrado {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 7rem 0 0rem;
}

#quartoQuadrado {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    margin-top: 1rem;
}

.mySkillsText {
    font-family: var(--font-main);
    text-shadow: 1px 2px #000;
    color: #fff;
    font-size: 20pt;
}

#primeiraSkill, #segundaSkill, #terceiraSkill {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    transition: margin 0.9s ease;
}

.primeiraSkill, .segundaSkill, .terceiraSkill {
    width: 300px;
    height: 100px;
    background: #000;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: height 0.9s ease;
}

#miniIcons {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    transition: margin .9s ease;
}

.arrow {
    width: 30px;
    height: 30px;
    margin: 0 2rem 0 0;
    cursor: pointer;
    transition: transform .5s ease;
    rotate: 0deg;
    z-index: 2;
}


#textoSkill {
    width: 19rem;
    position: absolute;
    color: #fff;
    text-align: center;
    margin: -5rem 0 0 0;
    transition: opacity .1s ease-in, margin .9s ease;
    font-family: var(--font-main);
    opacity: 0;
    z-index: 1;
}

#textoSkill p {
    margin-top: 10rem;
}

#curriculo {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #0000009d;
    z-index: 99;
}

#quadradoCurriculo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70rem;
    height: 40rem;
    background: #3b61bb;
    margin: 10rem auto;
    border-radius: 5px;
}

#x {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin: 10px 0 0 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
}

/* Projeto 1 */
#projetoUm {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #0000009d;
    z-index: 99;
}

#quadradoProjetoUm {
    display: flex;
    flex-direction: row;
    width: 70rem;
    height: 40rem;
    background: #3b61bb;
    margin: 10rem auto;
    border-radius: 5px;
}

#imagemProjetoUm {
    width: 30rem;
    margin: auto;
}

#imagemProjetoUm img {
    width: 35rem;
}

#textoProjetoUm {
    margin: auto;
    width: 25rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: 600;
    color: #fff;
}

#textoProjetoUm a {
    position: absolute;
    text-decoration: none;
    color: #000;
    margin: 1rem 0 0 -2rem;
}
/* =============================== */

/* Projeto 2 */
#projetoDois {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #0000009d;
    z-index: 99;
}

#quadradoProjetoDois {
    display: flex;
    flex-direction: row;
    width: 70rem;
    height: 40rem;
    background: #3b61bb;
    margin: 10rem auto;
    border-radius: 5px;
}

#imagemProjetoDois {
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 100%;
    margin: auto;
}

#imagemProjetoDois img {
    margin: auto;
    height: 17rem;
}

#textoProjetoDois {
    margin: auto;
    width: 25rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: 600;
    color: #fff;
}

#textoProjetoDois a {
    position: absolute;
    text-decoration: none;
    color: #000;
    margin: 1rem 0 0 -2rem;
}

/* =============================== */

#comecar {
    display: flex;
    position: absolute;
    top: 0;
    background: #151736;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#comecarQuadrado {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

#comecarQuadrado p {
    color: #fff;
    font-size: 20pt;
    font-family: sans-serif;
}

#comecarQuadrado button {
    font-size: 15pt;
    font-family: sans-serif;
    width: 15rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
}

#comecarQuadrado button:hover {
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }

  #comecarQuadrado button:active {
    transform: translateY(-2px);
    transition: transform 34ms;
    box-shadow: 1px 1px 1px 1px #000;
  }
