@media screen and (max-width: 390px) {
    @import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Klee+One&family=Kode+Mono:wght@400..700&display=swap');
    
  :root {
        --font-main: "Kode Mono", monospace;
    }
    
    * {
        margin: 0;
    }

  body {
    background: #151736;
    user-select: none;
    width: 100%;
    }

  .quadrado {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    }

    /* PRIMEIRO QUADRADO */
  #primeiroQuadrado {
    display: none;
    z-index: 0;
  }

  #mobile {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 20;
  }

  /* MENU */
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #3b61bb;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: #3b61bb;
    border-radius: 10px;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: #fff;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 18rem;
    height: 35rem;
    transform: translate(-60%,-30%);
    box-shadow: 1px 1px 8px 2px #000;
  }

/* SEGUNDO QUADRADO */

.segundoQuadrado {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  top: 5rem;
  margin: 0;
  z-index: 2;
  text-align: center;
}

.segundoQuadrado h2 {
  width: 20rem;
}

.quadradoTextoPrimario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 14rem;
  margin: 0;
  text-align: center;
}

#segundoQuadrado {
  width: 20rem;
  height: 15rem;
  margin-top: 1rem;
  background: #3b61bb;
  border-radius: 10px 10px 50% 10px / 10px 10px 50% 10px;
  box-shadow: 10px 8px 15px -5px rgba(0, 20, 79, 0.41);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 1s;
}

#primario, .primario {
  font-family: var(--font-main);
  color: #fff;
  text-shadow: 1px 2px #000;
  font-size: 20pt;
  z-index: 10;
}

#secundario {
  font-family: var(--font-main);
  color: #fff;
  text-shadow: 1px 2px #000;
  font-size: 12pt;
  position: relative;
}

.imagensSegundoQuadrado {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  top: -10px;
}

.miniGithub, .miniLinkedin  {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 10px;
  margin: 0rem 0 0 4rem;
  cursor: pointer;
  transition: all 1s;
}

.miniGithub>img, .miniLinkedin>img {
  width: 40px;
  height: 30px;
  margin: auto;
}

/* PROJETOS */
.projetos {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 20rem;
  position: relative;
  margin: 3rem 0 0 0;
  text-align: center;
}

#terceiroMiniQuadrado, #quartoMiniQuadrado {
  width: 150px;
  height: 150px;
  margin: 1rem 0 0 1rem;
  background: #3b61bb;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 1s;
  cursor: pointer;
}

#imagemCurriculo {
  margin: auto;
  width: 150px;
  height: 150px;
}


/* TERCEIRO QUADRADO */

.terceiroQuadrado {
  position: absolute;
  top: 35rem;
  width: 100%;
  margin: 0;
}

#terceiroQuadrado {
  width: 20rem;
  height: 6rem;
  margin-top: 13rem;
  background: #3b61bb;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.imagemTercerioQuadrado {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  padding-top: 1.5rem;
}

.nextSkillsText {
  position: absolute;
  width: 21rem;
  font-family: var(--font-main);
  text-shadow: 1px 2px #000;
  color: #fff;
  font-size: 20pt;
  text-align: center;
}


@keyframes vaievolta1 {
  0% {
      margin-left: 0;
  }
  100% {
     margin-left: 1.5rem;
  }
}

@keyframes vaievolta2 {
  0% {
      margin-left: 0;
  }
  100% {
     margin-left: 1rem;
  }
}

@keyframes vaievolta3 {
  0% {
      margin-left: 0;
  }
  100% {
     margin-left: 1rem;
  }
}

/* Quarto Quadrado */

.quartoQuadrado {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  top: 50rem;
}

/* Projeto 1 */
#projetoUm {
  display: none;
  position: absolute;
  top: 0;
  width: 25rem;
  height: auto;
  background: #0000009d;
  z-index: 99;
}

#quadradoProjetoUm {
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 40rem;
  background: #3b61bb;
  margin: 10rem auto;
  border-radius: 5px;
}

#imagemProjetoUm {
  display: flex;
  align-items: center;
  width: 0;
}

#imagemProjetoUm img {
  width: 20rem;
  margin: 0 0 0 -10rem;
}

#textoProjetoUm {
  margin: auto;
  width: 20rem;
  text-align: center;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: 600;
  color: #fff;
}

#projetoUm #x {
  top: -41rem;
  left: 10rem;
}
/* =============================== */

/* Projeto 2 */
#projetoDois {
  display: none;
  position: absolute;
  top: 0;
  width: 25rem;
  height: auto;
  background: #0000009d;
  z-index: 99;
}

#quadradoProjetoDois {
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 40rem;
  background: #3b61bb;
  border-radius: 5px;
}

#imagemProjetoDois {
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 24rem;
}

#imagemProjetoDois img {
  margin: 1rem auto;
  height: 10rem;
}

#textoProjetoDois {
  margin: auto;
  width: 22rem;
  text-align: center;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: 600;
  color: #fff;
}

#projetoDois #x {
  top: -41rem;
  left: 10rem;
}

/* =============================== */
}